{# Copyright (c) 2018 Rolf Michael Bislin. Licensed under the MIT license (see LICENSE.txt). #}
{% extends 'layout.twig' %}
{% block scripts %}
	<script src="js/timerAnim.js"></script>
	<script src="js/projectManager.js"></script>
	<script type="text/javascript">
		$(document).ready( function() {
			{% if projectId and not project %}
					$('#createProject').modal();
			{% endif %}
			{% if action %}
				{% if action=="trigger" %}
						projectAction("trigger");
				{% endif %}
				{% if action=="start" %}
						projectAction("start");
				{% endif %}
				{% if action=="stop" %}
						projectAction("stop");
				{% endif %}
			{% endif %}

			{% set activity = project.getLastActivityForUser(user) %}
			{% if activity.stop %}
				let timer = new p5(timerAnim({{activity.start.timestamp}}, {{activity.stop.timestamp}}), "timer");
			{% else %}
				let timer = new p5(timerAnim({{activity.start.timestamp}}), "timer");
			{% endif %}
		});
	</script>
{% endblock %}
{% block content %}
	{% if project or user.activeProject %} 
		{% if not project %}
			{% set project = user.activeProject %}
		{% endif %}
	<div id="timer" class="col-md-9"></div>
	<div class="col-md-3">
		<div id="projectInfo">
			<h2>Project</h2>
			<input type="hidden" name="projectId" value="{{project.id}}" />
			Name: <input name="projectName" value="{{project.name}}" />
		</div>
		<div class="actions">
			<ul>
				<li><button onclick="projectAction('start')">start</button></li>
				<li><button onclick="projectAction('stop')">stop</button></li>
			</ul>
		</div>
		<div class="activities">
			<ul>
			{% for activity in user.activities %}
				{% if activity.project == project %}
				<li>{{activity.start|date('d.m.Y H:i:s')}} - {{activity.stop|date('H:i:s')}}
					{% if activity.stop %}
						({{(activity.stop.timestamp-activity.start.timestamp-3600)|date('H:i:s')}})
					{% endif %}
				</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}
{% endblock %}
{% block modals %}
{% if not project %}
<div class="modal fade" id="createProject" tabindex="-1" role="dialog" aria-labelledby="createProjectLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createProjectLabel">Create Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	Create Project?
      	<input type="hidden" name="projectId" value="{{projectId}}" />
      	<input name="projectName" value=""/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="createProject()">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
